.cardDesignDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}
.potionsSelection {
  text-align: center;
}
.verifyButtons {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.verifyCard .cardDiv, .spaceFillerPic {
  position: relative;
  margin: 10px;
  width: 200px;
  height: 250px;
}
.noteDescription {
  text-align: center;
}
