.error, .genericError {
  color: red;
  font-style: italic;
}

.dropDownOption {
  margin-left: 10px;
  background-color: $lighter-blue;
}

input[type='text'], textarea {
  background-color: $lighter-blue;
}

.button {
  background-color: $blue;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 1px $light-blue solid;
  margin: auto;
}
.button:hover {
  background-color: $light-blue;
}

/*
UP AND DOWN
*/

.flexboxDiv {
  display: inline-flex;

  .fa {
    font-size: 1.8em;
    margin: auto 0;
    color: $blue;
  }
  .fa:hover {
    color: $light-blue;
  }
}
.upAndDown {
  margin: 15px;
  text-align: center;
}
.upAndDownGroup {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.upDownNum {
  margin: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
