/*
Navigation Bar
*/
.navBarHeader, .footer {
  background: $dark-pink;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-content: space-around;
  position: relative;

  #navButton {
    margin: 0 auto;
  }
}

/*
Buttons and Labels
*/
.navButtonObject {
  position: relative;
}

.navButtonLabelLeft, .navButtonLabelRight {
  font-size: .9em;
  color: white;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  width: 120px;
  transform: translate(0, -50%)
}

.navButtonLabelLeft {
  left: 25px;
}

.navButtonLabelRight {
  right: 25px;
}


/*
Icons
*/
.rect{
  background-color: white;
  width: 20px;
  height: 30px;
  border-radius: 10%;
  border: 1px black solid;
}
.card:hover {
  background-color: $light-blue;
}
.deck:hover {
  .rect1, .rect2, .rect3 {
    background-color: $light-blue;
  }
}
.deck {
  position: relative;
  display: inline;
  .rect1 {
    position: absolute;
  }
  .rect2 {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .rect3 {
    position: absolute;
    top: 4px;
    left: 4px;
  }
}
