body {
  background-color: $dark-pink;
  font-size: 1em;
}
.page {
  border-radius: 3px;
  padding: 10px;
  margin: 8px 15px;
  background: white;
  min-height: 440px;
  min-width: 270px;
}

.homepage {
  text-align: center;
}

.pageTitle {
  text-align: center;
  color: $dark-blue;
  font-size: 35px;
}
.button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 10px;
}
